<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <h5>1. Are you experiencing any of the following new or worsening symptoms?</h5>
  <ul>
    <li style="font-size: 1rem">Fever or chills</li>
    <li style="font-size: 1rem">Nausea and/or vomitting</li>
    <li style="font-size: 1rem">Cough</li>
    <li style="font-size: 1rem">Sore throat</li>
    <li style="font-size: 1rem">Extreme fatigue or tiredness</li>
    <li style="font-size: 1rem">Body aches</li>
    <li style="font-size: 1rem">Difficulty breathing</li>
    <li style="font-size: 1rem">Loss of appetite</li>
    <li style="font-size: 1rem">Diarrhea</li>
    <li style="font-size: 1rem">Headache</li>
    <li style="font-size: 1rem">Loss of sense of smell or taste</li>
  </ul>
    <div style="font-size: 1.1rem; margin: 12px 0px; text-align: right"">
      <%= form.label :question_one, 'YES',
      style: 'position: relative; vertical-align: middle; bottom: 1px;'
      %>
      
      <%= form.check_box :question_one, {checked: true} %>
      <label for="question-one-no" 
      style="margin-left: 40px; position: relative; vertical-align: middle; bottom: 1px;">
        NO
      </label>
      <input type="checkbox" id="question-one-no">
    </div>
  </div>

<hr>  

  <div class="field">
  <h5>2. Have you travelled outside of Canada, including the United States, within the last 14 days?</h5>
    <div style="font-size: 1.1rem; margin: 12px 0px; text-align: right"">
      <%= form.label :question_two, 'YES',
      style: 'position: relative; vertical-align: middle; bottom: 1px;' %>

      <%= form.check_box :question_two, {checked: true} %>
      <label for="question-two-no"
      style="margin-left: 40px; position: relative; vertical-align: middle; bottom: 1px;">
        NO
      </label>
      <input type="checkbox" id="question-two-no">
    </div>
  </div>

<hr>

  <div class="field">
  <h5>3. Have you been idenfitied as a close contact of a COVID-positive case by Public Health?</h5>
    <div style="font-size: 1.1rem; margin: 12px 0px; text-align: right">
      <%= form.label :question_three, 'YES',
      style: 'position: relative; vertical-align: middle; bottom: 1px;' %>

      <%= form.check_box :question_three, {checked: true} %>

      <label for="question-three-no"
      style="margin-left: 40px; position: relative; vertical-align: middle; bottom: 1px;">
        NO
      </label>
      <input type="checkbox" id="question-three-no">
    </div>
  </div>

<hr>

  <div class="field">
  <h5>4. Have you been told to self-isolate by Public Health?</h5>
    <div style="font-size: 1.1rem; margin: 12px 0px; text-align: right">
      <%= form.label :question_four, 'YES',
      style: 'position: relative; vertical-align: middle; bottom: 1px;' %>

      <%= form.check_box :question_four, {checked: true} %>

      <label for="question-four-no"
      style="margin-left: 40px; position: relative; vertical-align: middle; bottom: 1px;">
        NO
      </label>
      <input type="checkbox" id="question-four-no">
    </div>
  </div>

<hr>

  <div class="actions">
    <%= form.submit "SUBMIT", class: "btn btn-primary" %>
  </div>
<% end %>

<hr>

<p style="font-size: 1rem">If you have answered yes to any of these questions, please do not attend work, contact your direct Supervisor for further direction.</p>

<hr>