<p id="notice"><%= notice %></p>

<h1>Daily Health Check Responses</h1>

<p>
  Member(s) who has <em>never</em> recorded a response:
  <% @users_with_no_entries.each do |user| %>
    <%= user.name %>
  <% end %>
</p>

<hr>

<p>
  <span>Black: All members</span>
  <br />
  <span style="color: blue">Blue: Member(s) who have completed daily health check today.</span>
</p>

<p>
<% @users.each do |user| %>
  <%= user.name %>,
<% end %>
<br />
<span style="color: blue">
  <% @entries.each do |e| %>
    <%= e.user.name  %>,
  <% end %>
</span>
</p>

<hr>

<% @entries.each do |entry| %>
  <p style="font-size: 1.1rem; font-weight: bold"><%= entry.user.name %></p>
  <%= entry.created_at.localtime.strftime("%b. %d. %Y. %l:%M %p. %A.") %>
  <% if entry.question_one || entry.question_two || entry.question_three || entry.question_four %>
    <span style="color: red">Answered "YES" to one of the questions.</span>
  <% else %>
    <span>✅</span>
  <% end %>
  <hr>
<% end %>