<p id="notice"><%= notice %></p>

<h1>Daily Health Check Responses</h1>
<p>All users:
<% @users.each do |u| %>
  <%= u.name %>
<% end %>
</p>

<p>The following people have recorded response today:
<% @entries_today.each do |e| %>
  <%= e.user.name  %>
<% end %>
</p>

<hr>

<% @users.each do |user| %>
  <p style="font-size: 1.1rem; font-weight: bold"><%= user.name %></p>

  <p>Daily health check responses were completed on the following days:</p>
  <% user.entries.each do |entry| %>

    <% if entry.created_at.to_date === Time.now.strftime("%Y-%m-%d") %>
      <p>Submitted.</p>
    <% end %>


  <ul>
    <li>
      <%= entry.created_at.localtime.strftime("%b. %d. %Y. %l:%M %p. %A.") %>
      <br>
      <% if entry.question_one || entry.question_two || entry.question_three || entry.question_four %>
        <span style="color: red">Answered "YES" to one of the questions.</span>
      <% end %>

    </li>
  </ul>
  <% end %>
  <hr>
<% end %>

<br>

